# =============================================================================
# Proyecto ETL RSN — Variables de Entorno
# =============================================================================
# INSTRUCCIONES:
#   1. Copie el archivo: cp .env.example .env
# =============================================================================

# --- PostgreSQL Data Warehouse --- DW
DW_DB_HOST=127.0.0.1
DW_DB_PORT=5432
DW_DB_NAME=rsn_dw
DW_DB_USER=etl_user
DW_DB_PASSWORD=los4fantasticos123456

# --- pgAdmin --- DW Visualizador
PGADMIN_EMAIL=admin@rsn.local
PGADMIN_PASSWORD=los4fantasticos123456
